body {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: black;
    color: white;
    padding: 10px;
}

input {
    font-size: 13pt;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    border: solid green 3px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 97%;
    display: flex;
    justify-content: space-between;
}

.low-priority {
    border: solid green 3px;
}

.high-priority {
    border: solid red 3px;
}